[submodule ".registry"]
	path = .registry
	url = https://github.com/barryrowlingson/universe
	shallow = true
	branch = HEAD
[submodule "voronopie"]
	path = voronopie
	url = https://gitlab.com/b-rowlingson/voronopie
	shallow = true
	registered = true
